* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    background-color: rgb(0, 0, 0);
    width: 100vw;
    height: 6vh;
    position: fixed;
    z-index: 1;

    display: flex;
    justify-content: center;
}

.nav {
    width: 86vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.site_logo {
    width: 28vw;
}

.menu_icon {
    width: 6vw;
}

.menu_normal {
    display: none;
}

section {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.section_container {
    width: 80vw;
}

section > img, section > div > img{
    width: 100%;
}

.first_section {
    background-color: rgb(20, 20, 89);
    padding: 0px 40px;
    width: 100vw;
    height: 95vh;
    font-size: 3rem;
    color: white;
    display: flex;
    align-items: start;
    flex-direction: column;
    justify-content: center;
}

.second_container {
    height: 70vh;
}

.third_section {
    background-color: #161842;
    color: #fff;
    padding: 30px;
    width: 100vw;
    height: 40vh;
    font-size: 1.3rem;
}

.fourth_section {
    background-color: #05D7AF;
    padding-top: 50px;
}

.fifth_section {
    height: 40vh;
}

.sixth_section {
    background-color: #161842;
    color: #fff;
    padding: 50px 20px;
}

.eighth_section {
    height: 50vh;
}

.ninth_section {
    background-color: #161842;
    color: #fff;
    height: 50vh;
}
